*{
padding: 0;
margin: 0;
outline: 0;
box-sizing: border-box;
}
html,body{
height: 100%;
width: 100%;
overflow:hidden;
scroll-behavior: smooth;
}
#main{
    height: 100%;
    width: 100%;
    background-color: rgba(245, 239, 239 ,0.5);
    display: grid;
 grid-template-rows: 15% 75% 10%;
}
#nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
#nav img{
    margin: 5px;
    width:80px;
    height:80px;
}
#nav-content{
    display: flex;
    gap: 10px;
    margin: right 10px;
}
#nav h1{
    font-size: 20px;
    font-weight: 500;
}
#content{
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#center
{
    text-align: center;
}
#copyright{
    /* background-color: hotpink; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#gap{
    margin: 12px;
}
#button1 a{
    margin: 5px;
}
#button2 a{
    margin: 15px;
}
